/* Reset og border-box รก allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --spacing: 1rem;
  --max-width: 56rem;

  --font-family: -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
  display: none;
}

html {
  font-family: var(--font-family);
}

input,
select,
button {
  font-size: inherit;
}

input[type='number'] {
  padding-inline-start: calc(var(--spacing) / 2);
}

button {
  padding-inline: calc(var(--spacing) / 2);
}

h1,
h2,
h3 {
  margin-block-end: var(--spacing);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  margin: var(--spacing) auto;
  padding-inline: var(--spacing);
  max-width: var(--max-width);
}

.table {
  margin-block-end: var(--spacing);
  border-collapse: collapse;
  width: 100%;
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table th,
.table td {
  padding: calc(var(--spacing) / 2);
  text-align: left;
}

.table tfoot {
  font-weight: bold;
}

.add {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  align-items: flex-end;
}

@media (min-width: 600px) {
  .add {
    flex-wrap: nowrap;
  }
}

.add label {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}

.add input {
  max-width: 60px;
}

.add button {
  white-space: nowrap;
}

.price {
  white-space: nowrap;
}

.form-field {
  margin-block-end: calc(var(--spacing) / 2);
}

.form-field label {
  display: block;
}

.cart {
  margin-block-end: var(--spacing);
}
